* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #656a72;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #2a2f3b;
}
nav ul {
  list-style: none;
  position: relative;
  opacity: 0.95;
}
nav ul li {
  float: left;
  display: inline-flex;
}
nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 35px;
  margin: 20px 12px;
  font-size: 18px;
}
nav ul li a:hover {
  cursor: pointer;
  color: white;
}
nav ul ul {
  position: absolute;
  top: 70px;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  background: #2a2f3b;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  padding-bottom: 3px;
  width: 150px;
  float: none;
  display: list-item;
}
nav ul ul li a {
  font-size: 15px;
  padding: 8px;
  font-family: cursive;
  color: white;
}
nav ul ul li a:hover {
  background: rgb(150, 142, 142);
  color: white;
}
.dis {
  color: white;
  margin-left: 5px;
  margin-top: 28px;
}
.new {
  font-size: 15px;
  font-weight: 800;
  color: rgb(41, 41, 223);
}
.head_right {
  display: inline-flex;
  float: right;
  margin-top: 28px;
  margin-right: 50px;
}
.search {
  font-size: 15px;
  color: white;
  margin-right: 40px;
  border-bottom: 1px solid white;
  width: 165px;
  padding-bottom: 5px;
}
#seaico {
  margin-left: 100px;
}
.subs {
  background-color: #18b7df;
  color: white;
  border: 1px solid #18b7df;
  border-radius: 4px;
  height: 20px;
  cursor: pointer;
}
.log {
  color: white;
  margin-top: 4px;
  padding: 0 0 0 20px;
  cursor: pointer;
}
.kid a i {
  margin-left: 5px;
  color: orange;
  font-weight: 600;
}

.main {
  font-family: "Lucida Handwriting";
  font-size: 15px;
}
.carousel {
  padding-top: 70px;
}
.slide {
  width: 100%;
  height: 350px;
}
.mySlides image {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
}
.next {
  right: 0;
}

.subtit {
  margin-top: 10px;
  margin-left: 30px;
  color: white;
  font-size: 20px;
  font-family: arial;
}
.subtit:hover {
  cursor: pointer;
  color: blue;
}
.wrapper {
  margin-top: 10px;
  max-height: 220px;
  display: flex;
  overflow-x: auto;
  margin-left: 30px;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
.wrapper .item {
  margin: 0 6 0 10;
  width: 160px;
  height: 190px;
  border-radius: 5px;
}
.item:hover {
  border: 3px solid white;
  cursor: pointer;
}
.footer {
  margin-bottom: 0;
  background-color: #2a2f3b;
  height: 130px;
  width: 100%;
}
.b3 {
  font-size: 12px;
  color: white;
}
.color1 {
  color: rgb(90, 90, 224);
  cursor: pointer;
  text-decoration: none;
}
.abt {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.abt:hover {
  color: rgb(53, 53, 209);
}
.copy {
  font-size: 13px;
}
.b4 {
  margin-left: 800px;
  margin-top: -80px;
  font-size: 15px;
  color: white;
}

.b5 {
  margin-left: 1000px;
  margin-top: -90px;
  font-size: 15px;
  color: white;
}
@media screen and (max-width: 280px) {
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }
  .log {
    display: none;
  }
  header {
    position: fixed;
  }

  .bar {
    margin-left: -10px;
    font-size: 15px;
  }
  nav ul ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #26282b;
    top: 0px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul ul li {
    display: block;
    margin: 20px 5px 0 5px;
    line-height: 20px;
  }

  nav ul ul li a {
    font-size: 15px;
  }
  nav ul ul li a:hover {
    background: #26282b;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main {
    margin-left: -15px;
    font-family: "Lucida Handwriting";
    font-size: 8px;
    color: white;
  }
  .head_right {
    float: right;
  }
  .search {
    display: none;
  }
  .subs {
    float: right;
    margin-top: -80px;
    margin-right: -4px;
  }

  body {
    background-color: #26282b;
    width: 100%;
  }

  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }

  .footer {
    height: 350px;
    width: 100%;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
    justify-content: space-around;
  }
  .copy {
    font-size: 13px;
    display: flex;
  }

  .b4 {
    margin-top: 30px;
    margin-left: 15px;
  }
  .b5 {
    margin-left: 140px;
    margin-top: -90px;
  }
}

@media screen and (min-width: 290px) and (max-width: 325px) {
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }
  .log {
    display: none;
  }
  header {
    position: fixed;
  }

  .bar {
    margin-left: -5px;
    font-size: 15px;
  }
  nav ul ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #26282b;
    top: 0px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul ul li {
    display: block;
    margin: 20px 5px 0 5px;
    line-height: 20px;
  }

  nav ul ul li a {
    font-size: 15px;
  }
  nav ul ul li a:hover {
    background: #26282b;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main {
    margin-left: -10px;
    font-family: "Lucida Handwriting";
    font-size: 8px;
    color: white;
  }
  .head_right {
    float: right;
  }
  .search {
    display: none;
  }
  .subs {
    margin-right: 5px;
  }

  body {
    background-color: #26282b;
    width: 100%;
  }

  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }

  .footer {
    margin-bottom: 0;
    height: 300px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
  }

  .copy {
    font-size: 13px;
    display: flex;
  }
  .b4 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
  }

  .b5 {
    margin-left: 100px;
    margin-top: -110px;
    font-size: 15px;
    color: white;
  }
  .cont {
    margin-top: -125px;
  }
  .googleimg {
    margin-top: -15px;
  }
}

@media screen and (min-width: 330px) and (max-width: 390px) {
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }

  .log {
    display: none;
  }
  header {
    position: fixed;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 55px;
    margin: 10px;
    font-size: 13px;
  }

  .bar {
    font-size: 20px;
  }
  nav ul ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #26282b;
    top: 0px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul ul li {
    display: block;
    margin: 20px 5px 0 5px;
    line-height: 20px;
  }

  nav ul ul li a {
    font-size: 15px;
  }
  nav ul ul li a:hover {
    background: #26282b;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main {
    font-family: "Lucida Handwriting";
    color: white;
  }
  .head_right {
    float: right;
  }
  .search {
    display: none;
  }
  .subs {
    margin-right: 5px;
  }
  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }

  .footer {
    margin-bottom: 0;
    height: 300px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
  }

  .copy {
    font-size: 13px;
    display: flex;
  }
  .b4 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
  }

  .b5 {
    margin-left: 100px;
    margin-top: -110px;
    font-size: 15px;
    color: white;
  }
  .cont {
    margin-top: -125px;
  }
  .googleimg {
    margin-top: -15px;
  }
}
@media screen and (min-width: 400px) and (max-width: 420px) {
  header {
    position: fixed;
  }
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }
  .log {
    display: none;
  }
  .search {
    display: none;
  }
  nav ul li a {
    margin-left: 5px;
    margin-top: 25px;
    font-size: 11px;
  }
  .bar {
    margin-left: 2px;
    font-size: 20px;
  }
  nav ul ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #26282b;
    top: 0px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul ul li {
    display: block;
    margin: 20px 5px 0 5px;
    line-height: 20px;
  }

  nav ul ul li a {
    font-size: 15px;
  }
  nav ul ul li a:hover {
    background: #26282b;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main {
    font-family: "Lucida Handwriting";
    color: white;
  }
  .head_right {
    float: right;
  }

  .subs {
    font-size: 16px;
  }
  .prev,
  .next {
    top: 25%;
  }
  .subtit {
    margin-top: 20px;
  }
  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }
  .footer {
    height: 300px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
  }
  .copy {
    font-size: 13px;
    display: flex;
  }

  .b4 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
  }
  .b5 {
    margin-left: 100px;
    margin-top: -110px;
  }
  .cont {
    margin-top: -125px;
  }
  .googleimg {
    margin-top: -15px;
  }
}

@media screen and (min-width: 435px) and (max-width: 490px) {
  header {
    position: fixed;
  }
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }
  .log {
    display: none;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 35px;
    margin-top: 25px;
    font-size: 18px;
  }
  .bar {
    padding-left: 0px;
    font-size: 20px;
  }
  .main {
    font-family: "Lucida Handwriting";
    color: white;
  }
  .head_right {
    display: inline-flex;
    float: right;
    margin-top: -35px;
    margin-right: 5px;
  }
  .search {
    margin-left: 25px;
    font-size: 15px;
    color: white;
    margin-right: 0px;
    border-bottom: 1px solid white;
    width: 90px;
    padding-bottom: 5px;
  }
  #seaico {
    margin-left: 20px;
  }
  .subs {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    background: #188cff;
    border: 1px solid #188cff;
    font-weight: bold;
    border-radius: 2px;
  }
  .log {
    font-size: 14px;
    margin-left: 0px;
    color: white;
  }
  .subtit {
    margin-top: 20px;
  }
  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }
  .footer {
    height: 300px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
  }
  .copy {
    font-size: 13px;
    display: flex;
  }

  .b4 {
    margin-top: 30px;
    margin-left: 15px;
  }
  .b5 {
    margin-left: 140px;
    margin-top: -90px;
  }
}

@media screen and (max-width: 540px) {
  header {
    position: fixed;
  }
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 35px;
    margin-top: 25px;
    font-size: 18px;
  }
  .bar {
    padding-left: 0px;
    font-size: 20px;
  }
  nav ul ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #26282b;
    top: 0px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul ul li {
    display: block;
    margin: 20px 5px 0 5px;
    line-height: 20px;
  }

  nav ul ul li a {
    font-size: 15px;
  }
  nav ul ul li a:hover {
    background: #26282b;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main {
    font-family: "Lucida Handwriting";
    color: white;
  }
  .head_right {
    display: inline-flex;
    float: right;
    margin-top: 35px;
    margin-right: 5px;
  }
  .search {
    margin-left: 25px;
    font-size: 15px;
    color: white;
    margin-right: 0px;
    border-bottom: 1px solid white;
    width: 90px;
    padding-bottom: 5px;
  }
  #seaico {
    margin-left: 20px;
  }
  .subs {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    background: #188cff;
    border: 1px solid #188cff;
    font-weight: bold;
    border-radius: 2px;
  }
  .log {
    font-size: 14px;
    margin-left: 0px;
    color: white;
  }
  .subtit {
    margin-top: 20px;
  }
  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }
  .footer {
    height: 260px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
    justify-content: space-around;
  }
  .copy {
    font-size: 13px;
    display: flex;
  }

  .b4 {
    margin-top: 30px;
    margin-left: 15px;
  }
  .b5 {
    margin-left: 140px;
    margin-top: -90px;
  }
}
@media screen and (min-width: 700px) and (max-width: 790px) {
  header {
    position: fixed;
  }
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 35px;
    margin-top: 25px;
    font-size: 18px;
  }
  .bar {
    padding-left: 0px;
    font-size: 20px;
  }
  .main {
    font-family: "Lucida Handwriting";
    color: white;
  }
  .head_right {
    display: inline-flex;
    float: right;
    margin-top: 35px;
    margin-right: 5px;
  }
  .search {
    margin-left: 25px;
    font-size: 15px;
    color: white;
    margin-right: 0px;
    border-bottom: 1px solid white;
    width: 90px;
    padding-bottom: 5px;
  }
  #seaico {
    margin-left: 20px;
  }
  .subs {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    background: #188cff;
    border: 1px solid #188cff;
    font-weight: bold;
    border-radius: 2px;
  }
  .log {
    font-size: 14px;
    margin-left: 0px;
    color: white;
  }
  .subtit {
    margin-top: 20px;
  }
  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }
  .prev,
  .next {
    top: 20%;
  }
  .footer {
    height: 250px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
  }
  .copy {
    font-size: 13px;
    display: flex;
  }

  .b4 {
    margin-top: 30px;
    margin-left: 15px;
  }
  .b5 {
    margin-left: 140px;
    margin-top: -90px;
  }
}
@media screen and (min-width: 791px) and (max-width: 900px) {
  header {
    position: fixed;
  }
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 35px;
    margin-top: 25px;
    font-size: 18px;
  }
  .bar {
    padding-left: 0px;
    font-size: 20px;
  }
  .main {
    font-family: "Lucida Handwriting";
    color: white;
  }
  .head_right {
    display: inline-flex;
    float: right;
    margin-top: 35px;
    margin-right: 5px;
  }
  .search {
    margin-left: 25px;
    font-size: 15px;
    color: white;
    margin-right: 0px;
    border-bottom: 1px solid white;
    width: 90px;
    padding-bottom: 5px;
  }
  #seaico {
    margin-left: 20px;
  }
  .subs {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    background: #188cff;
    border: 1px solid #188cff;
    font-weight: bold;
    border-radius: 2px;
  }
  .log {
    font-size: 14px;
    margin-left: 0px;
    color: white;
  }
  .subtit {
    margin-top: 20px;
  }
  .subtit {
    margin-top: 20px;
    margin-left: 1px;
  }
  .wrapper {
    margin-left: 1px;
  }
  .footer {
    height: 250px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 5px;
    font-size: 13px;
    justify-content: space-around;
  }
  .copy {
    font-size: 13px;
    display: flex;
  }

  .b4 {
    margin-top: 30px;
    margin-left: 15px;
  }
  .b5 {
    margin-left: 140px;
    margin-top: -90px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1110px) {
  .tv {
    display: none;
  }
  .movies {
    display: none;
  }
  .sports {
    display: none;
  }
  .news {
    display: none;
  }
  .pre {
    display: none;
  }
  .dis {
    display: none;
  }
  .kid {
    display: none;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 35px;
    margin-top: 25px;
    font-size: 20px;
  }
  .bar {
    padding-left: 10px;
    font-size: 20px;
  }
  .main {
    font-family: "Lucida Handwriting";
    color: white;
  }
  .head_right {
    display: inline-flex;
    float: right;
    margin-top: 35px;
    margin-right: 170px;
  }
  .search {
    margin-left: 10px;
    font-size: 18px;
    color: white;
    margin-right: 10px;
    border-bottom: 1px solid white;
    width: 150px;
    padding-bottom: 5px;
  }
  #seaico {
    margin-left: 70px;
  }
  .subs {
    margin-left: 20px;
    color: white;
    font-size: 18px;
    background: #188cff;
    border: 1px solid #188cff;
    font-weight: bold;
    border-radius: 2px;
  }
  .log {
    margin-top: -1px;
    font-size: 20px;
    margin-left: 10px;
    color: white;
  }
  .prev,
  .next {
    top: 20%;
  }
  .next {
    right: 3px;
  }
  .subtit {
    margin-top: 20px;
  }

  .footer {
    height: 300px;
  }
  .about_mail {
    display: none;
  }
  .abt {
    padding: 0 13px 10px 25px;
    font-size: 20px;
  }
  .copy {
    padding-left: 25px;
    font-size: 20px;
    display: flex;
  }

  .b4 {
    margin-top: 30px;
    margin-left: 15px;
  }
  .b5 {
    margin-left: 140px;
    margin-top: -85px;
  }
}
